.login {
    height: 100vh;
    background-image: linear-gradient(to right, #fff5bc, #cec1ff);
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
  }
  

  @media screen and (max-width: 600px) {
    
  }
  